.postPageableTable {
  thead {
    .sortDescending, .sortAscending {
      position: relative;
      margin: 0 0 0 5px;
      color: #A5A5A5;

      &:active {
        color: #B3D8D8;
      }

      &:hover {
        cursor: pointer;
        color: #000000;
      }
    }

    .sortDescending {
      bottom: 4px;
    }

    .sortAscending {
      top: 6px;
    }
  }
}