@import "./colors.scss";

.contentTitle {
  font-weight: 300;
  line-height: 1.2;
  font-size: 2rem;
}


.specmed-spinner {
  font-size: 25px;
  color: $sm-blue;
  display:inline-block;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
}

